ui-toast {
  display: block;
  position: absolute;
  padding: 0 1;
}

ui-toast[tone='success'] {
  color: green;
}

ui-toast[tone='warning'] {
  color: yellow;
}

ui-toast[tone='error'] {
  color: red;
}
