button {
  display: inline;
  font-weight: bold;
  padding: 0 1;
  white-space: nowrap;
  text-align: center;
}

button[variant='secondary'] {
  font-weight: normal;
}

button:active {
  font-style: italic;
}

button:disabled {
  opacity: 0.5;
}
