ui-badge {
  display: inline;
}

ui-badge[tone='info'] {
  background-color: blue;
  color: white;
}

ui-badge[tone='success'] {
  background-color: green;
  color: white;
}

ui-badge[tone='warning'] {
  background-color: yellow;
  color: black;
}

ui-badge[tone='error'] {
  background-color: red;
  color: white;
}
